/* All styles for Trello Clone live here */

/* Index:
    1. General Styles - line 15
    2. Board Component Styles - line 74
    3. BoardMenu Component (& submenu component) Styles - line 119
    4. Card Component Styles - line 296
    5. List Component Styles - line 696
    6. ListMenu Styles - line 856
    7. NavbarTop Component Styles - line 964
    8. NavbarBottom Component Styles - line 1032
    9. Quick Edit Menu Styles - line 1060
    10. CardPreview Component Styles - 1145
*/

/* General Styles */

.App {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
}

li {
    list-style: none;
}

body {
    
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 100vw;
    color: #333;
}

#root {
    width: 100vw;
    margin: 0;
    padding: 0;
}

textarea {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    padding: 9px 11px;
}
.danger-button {
    background-color: #eb5a46;
    color: #fff;
    font-weight: 700;
    border-radius: 3px;
    border-style: none;
    padding: 5px 16px;
    display: block;
    width: 260px;
    margin: 8px 0;
    line-height: 22px;
    cursor: pointer;
}

.confirm-button {
    background-color: #5aac44;
    box-shadow: 0 1px 0 #519839;
    color: #fff;
    padding: 5px 30px;
    border-style: none;
    cursor: pointer;
    line-height: 22px;
    border-radius: 3px;
    font-weight: 700;
    margin: 8px 0;
}

.danger-button:hover {
    background-color: #b04632;
}

/* Board Component Styles */

.board__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  .board__list-container {
    display: flex;
    align-items: flex-start;
  }
  
  .App {
    display: flex;
    flex-direction: column;
  }
  
  .board__button-addList {
    display: block;
    border:none; 
    border-radius: 3px;
    padding: 10px;
    color: hsla(0,0%,100%,.7);
    transition: color 85ms ease-in;
    background: rgba(0,0,0,.12);
    font-size: 14px;
    line-height: 20px;
    width: 270px;
    margin: 10px 10px;
    text-align:left;
  }
  
  .board__button-addList:hover {
    background: rgba(0,0,0,.35);
  }
  
  .board__add-list-full {
    width: 270px;
    margin:10px;
  }
  
  /*DONE styling Board Component */


/*BoardMenu Component Styles */
@keyframes slide {
    100% { right: -15px; }
}

.board-menu {
    background-color: #edeff0;
    color: #333;
    width: 340px;
    box-shadow: 0 0 6px rgba(0,0,0, .4);
    padding: 10px;
    z-index: 5;
    position: absolute;
    right: -340px;
    top: -17px;
    animation: slide 0.4s forwards;
}

.board-menu li {
    display: block !important;
}

.board-menu-title {
    position: relative;
    text-align: center;
    font-weight: 700;
    border-bottom: 2px solid #d6dadc;
    padding: 5px;
}

.board-member {
    background-color: #e2e4e6;
    padding: 3px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    width: 30px;
    border-radius: 100%;
    height: 30px;
    margin: 10px 0;
    display: block;
}
.board-members .invite {
    color: #444;
    border-style: none;
    border-radius: 2px;
    background-color: #e2e4e6;
    display: block;
    width: 100%;
    padding: 10px;
    box-shadow: 0 1px 0 0 #c4c9cc;
    font-weight: 700;
    text-align: left;
    cursor: pointer;
}

.board-members .invite:hover {
    background-color: #cdd2d4;
    color: #4c4c4c;
}

.board-menu i {
    color: #999;
    margin-right: 10px;
}

.board-menu-title h3 {
    margin: 0;
}

.board-members {
    border-bottom: 1px solid #d6dadc;
    padding-bottom: 15px;
}

.board-options {
    border-bottom: 1px solid #d6dadc;
    padding: 10px 0;
}

.current-color {
    width: 18px;
    height: 18px;
    border-radius: 3px;
    display: inline-block;
    margin-right: 5px;
}
.board-activity {
    padding: 10px 0;
}

.board-options li, .board-activity li {
    font-weight: 700;
    padding: 8px;
    cursor: pointer;
    display: block;
}

.board-options li:hover {
    color: #111;
    background-color: #d6dadc;
    border-radius: 3px;
}

.menu-body {
    margin: 10px 5px;
    text-align: center;
    width: 100%;
}

.menu-body .color-button {
    width: 45%;
    height: 112px;
    border-radius: 10px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}

.nav-two .menu-body .color-button:hover {
    opacity: .8;
}

.menu-body .blue {
    background-color: #0079BF;
}

.menu-body .orange {
    background-color: #D29034;
}

.menu-body .green {
    background-color: #519839;
}

.menu-body .red {
    background-color: #B04632;
}

.menu-body .purple {
    background-color: #89609E;
}
.menu-body .pink {
    background-color: #CD5A91;
}

.color-menu, .photo-menu {
    display: inline-block;
    width: 40%;
    overflow: hidden;
    margin: 10px;
    cursor: pointer;
}

.color-menu:hover, .photo-menu:hover, .photo-button:hover {
    opacity: .8;
}

.color-menu img, .photo-menu img{
    height: 100px;
    border-radius: 10px;
}

.photo-button {
    height: 100px;
    padding: 0 4px 8px;
    border-radius: 15px;
    width: 40%;
    cursor: pointer;
}


/* DONE styling BoardMenu Component */


/* Card Component Styles */
.BackgroundBox {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    color: #838c91;
    left: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    overflow-y: auto;
    height: 100%;
    align-items: flex-start;
}

.OuterCardBox {
    overflow: hidden;
    position: relative;
    justify-content: center;
    background-color: #edeff0;
    padding: 0px 15px;
    margin: 50px 0px;
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
    min-width: 726px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 3px;
    overflow-y: scroll;
    z-index: 15;
  }

  .OuterCardBox h3 {
      color: #333;
  }

.TitleOuter {
    color: #333;
    justify-content: center;
    margin: 0px 0px 20px 0px;
    width: 100%;
}

.TitleBox {
    justify-content: left;
    margin: 20px 0px 8px 0px;
}

.MainContent {
    margin: 0px 0px 20px 0px;
}

.MainInfo {

    margin: 0px 50px 30px 10px;
    width: 70%;
    float: left;
}

.CardTitle {
    margin-top: 20px;
    font-size: 20px;

}

.CardList {
    color: #0099CC;
    margin-left: 30px;
}

.CardDescription {
    position: relative;
}

.CardDescription i {
    position: absolute;
    left: -40px;
    font-size: 22px;
}

.Editable textarea {
    background: #E6E8E8;
    width: 100%;
    height: 60px;
    border-radius: 3px;
    box-shadow: inset 0 1px 6px rgba(0, 0, 0, .1);
    color: #838c91;
    margin: 4px 0px 12px 0;
    border: 1px solid #cdd2d4;
}

.DescriptionButtons {
    margin-top: 10px;
    display: none;
}


.fa-user-circle, .fa-plus-square {
    margin-top: 15px;
    margin-right: 10px;
    font-size: 30px;
    color: #CDD2DF;
}

.ShareandMore {
    margin-top: 20px;
}

.AddComment {
    position: relative;
}
.AddComment i {
    position: absolute;
    left: -40px;
    font-size: 22px;
}

.CommentBox {
    position: relative;
    margin-left: 32px;
}

.CommentBox textarea {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.23);
    margin: 4px 0px 12px 0;
    border: 0;
    border-bottom: 30px solid transparent;
    min-height: 60px;
    padding: 9px 11px;
    padding-bottom: 0;
    width: 100%;
    resize: none;
  }

.CommentBox button {
    background-color: #358020;
}

.CommentButtons{
    position: absolute;
    right: -10px;
    top: 110px;
}

.CommentButtons a {
    color: #cdd2df;
    margin-right: 10px;
}

.CardMemberList {
    justify-content: left;
    margin-bottom: 0px;
    margin-left: 32px;
}


.UserActivity a{
    margin-right: 10px;
}

.CardDescription {
    display: block;
    margin-left: 32px;
}

.ActivityBox {
    margin-top: 20px;
}

.ActivityLabel {
    position: relative;
    margin-left: 32px;
}

.ActivityLabel i {
    position: absolute;
    left: -40px;
    font-size: 22px;
}

.InnerButtonBox {
        margin: 0px 0px 0px 0px;
        width: 20%;
        float: left;
  }

.InnerButtonBox button {
    border-radius: 3px;
    font-weight: 700;
    background: #e2e4e6;
    box-shadow: 0 1px 0 0 #c4c9cc;
    cursor: pointer;
    margin-top: 8px;
    width: 168px;
    height: 32px;
    border-style: none;
    padding: 7px 7px 7px 11px;
    text-decoration: none;
 }

 .InnerButtonBox button:disabled {
     background-color: #cdd2df;
     cursor: default;
 }
 .InnerButtonBox button:hover:enabled {
     background-color: #cdd2d4;
     box-shadow: 0 1px 0 0 #a5acb0;
     color: #4c4c4c
 }
.InnerButtonBox button i{
    margin-right: 15px;
    color: #999;
}

.btn__comment-save--light {
    border: none;
    box-shadow: 0 1px 0 #959da1;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    line-height: 22px;
    margin: 0 4px 0 0;
    padding: 5px 16px;
    text-align: center;
    background-color: #d6dadc;
    color: #ffffff;
    border-radius: 3px;
    font-size: 16px;
  }

.card-edit__comment-list {
    padding: 0px;
    color: black;
}

.card-edit__user {
    margin-top: 20px;
}

.card-edit__user-name {
    margin: 0px 0px 0px 10px;
}

.card-edit__comment-text {
    font-size: 14px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.23);
    box-sizing: border-box;
    display: inline-block;
    margin: 6px 2px 6px 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    padding: 9px 11px;
}

.card-edit__date-options-container {
    margin-left: 36px;
    color: #838c91;
    align-items: center;
}

.card-edit__comment-date {
    margin-right: 10px;
}

.card-edit__delete-comment-btn {
    color: black;
    font-size: 14px;
    background-color: transparent;
    border: none;
}
.card-list__move-list-link {
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 14px;
    border-bottom: solid 1px;
    padding: 0px;
    color:#838c91;
}
/*DONE styling Card Component*/

/*List Component Styles*/
.cards {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.card-preview li {
    list-style: none;
}

.btn--add, .btn--cancel, .list__add-cards-short {
    border: none;
    box-shadow: 0 1px 0 #959da1;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    line-height: 22px;
    margin: 0px 4px 0 0;
    padding: 5px 16px;
    text-align: center;
}

button:focus {
    outline:none;
}

.form-card-description {
    border: none;
    overflow: auto;
    outline: none;
    box-shadow: none;
    resize: none;
    color: #333;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    padding: 6px 6px 2px 8px
}

.list__container {
    margin: 10px 0px 10px 10px;
    width: 270px;
    background-color: #E3E4E6;
    border-radius: 3px;
    padding: 8px;
}

.list__header {
    position: relative;
}

.openListMenu {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 18px;
    cursor: pointer;
}

.list__header-title {
    margin-bottom: 8px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.list__add-cards-short {
    box-shadow: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    font-size: 14px;
    font-weight: 400;
    color: #838c91;

    background: transparent;
}

.list__add-cards-short:active {
    outline: none;
}

.form-btn-container {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.btn--add {
    background-color: #59ac44;
    color: #FFFFFF;
    border-radius: 3px;
    font-size: 16px;
}

.btn--cancel {
    padding: 0;
    height: 25px;
    box-shadow: none;
    background-color: transparent;
}


.list-title__edit {
    background-color: transparent;
    border-style: none;
    color: #333;
    font-size:14px;
    line-height: 18px;
    font-weight: 700;
    padding: 8px 34px 8px 2px;
}

.list-title__edit--input {
    background-color: transparent;
    border-style: none;
    color: #333;
    font-size:16px;
    line-height: 18px;
    font-weight: 700;
    padding: 8px 34px 8px 2px;
    background-color: #FFFFFF;
    border: #0099CC solid 2px;
    border-radius: 3px;
}

input:focus {
    outline: none;
}


.cancel {
    height:25px;
    margin: 2px 0px 0px 8px
}

.expandMenu {
    color: #999;
    cursor: pointer;
    font-size: 12px;
    border-style: none;
    height: 24px;
    width: 24px;
    text-align: center;
    padding: 0;
    background: #e2e4e6;
    border-radius: 3px;
}

.expandMenu:hover {
    background: rgb(205,210,212);
    color: #111;
}
/* DONE styling List Component*/


/* ListMenu Component Styles */
.list-menu {
  z-index: 1;
  width: 280px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 3px;
  position: absolute;
  top: 30px;
  left: 245px;
  border: 1px solid #d6dadc;
}

.follow, .sort, .archive-cards {
  border-bottom: 1px solid #d6dadc;
}

.list-menu li {
  width: 280px;
  list-style: none;
  padding: 6px 10px;
  margin: 0;
  color: #444;
  text-decoration: none;
  cursor: pointer;
}

.list-menu-title {
  margin: 0 10px;
  color: #838c91;
  border-bottom: 1px solid #d6dadc;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  right: 0;
  top: 0; 
  cursor: pointer;
}

.back {
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}

.back:hover {
  color: #4d4d4d;
}
.close img {
    width: 15px;
}
.list-menu-options {
  font-weight: 700;
}

.list-menu-text {
  padding: 0 10px;
}

.list-menu-buttons {
    padding: 10px;
    overflow: hidden;
}

.list-menu-buttons .moveBtn {
    text-align: left;
    box-sizing: border-box;
    display: block;
    margin-bottom: 10px;
    padding: 20px 7px;
    height: 50px;
    background-color: #e2e4e6;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 3px;
    position: relative;
    font-size: 1.2em;
    font-weight: 700;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.moveBtn .btnLabel {
    position: absolute;
    top: 7px;
    left: 7px;
    color: #838C91;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    display: block;
}

.list-menu li:hover {
  background-color: #298fca;
  color: #fff;
}

.list-menu ul {
  padding: 5px;
}
/* DONE styling ListMenu COmponent */

/* NavbarTop Component Styles*/

@import url('https://fonts.googleapis.com/css?family=Lobster');

.navbar {
    height: 32px;
    padding: 5px 8px;
    background-color: rgba(0, 0, 0, .15);
    margin-top: 0;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.nav-list li {
    display: inline-block;
}

.brand {
    top: 5px;
    bottom: 0;
    font-size: 1.6em;
    font-family: 'Lobster', cursive;
    color: rgb(224, 224, 223);
    opacity: .7;
    height:50px;
}

.brand img {
    width: 22px;
}

.search {
    position: relative;
}

.search .fa-search {
    position: absolute;
    right: 10px;
    top: 3px;
    color: #E0E0DF;
}

.boards {
    font-weight: 700;
}

.boards i {
    font-size: 12px;
    margin: 2px 5px 2px 2px;
    font-weight: 400;
}

.navbar button, .navbar input {
    border-radius: 5px;
    margin-left: 10px;
    padding: 7px;
    background-color: hsla(0, 0%, 100%, .3);
    color: #E0E0DF;
    border-style: none;
}
.leftbar {
    float: left;
}

.rightbar {
    float: right;
}
/*DONE styling NavbarTop Component */


/* NavbarBottom Component Styles */

.nav-two li button {
    color: #E0E0DF;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 3px;
    
}

.nav-two li button:hover {
    background-color: rgba(0,0,0,.3);
}

.nav-two {
    margin: 5px 15px 30px 0;
    padding-left: 25px;
    position: relative;
}

.nav-two li button {
    font-size: 1em;
}

/* DONE NavbarBottom Component Styles */

/* styling Quick Edit Menu */

.quick-edit__screen {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    color: #fff;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
  }
  
  
  .quick-edit__container {
    display: flex;
    position: absolute;
  }
  
  
  .text-button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 14px;
  }
  
  
  .quick-edit__text-box {
    border: none;
    padding: 6px 6px 2px 8px;
    border-radius: 3px;
    width: 256px;
    height: 112px;
    resize: none;
    margin-bottom: 14px;
  }
  
  
  .quick-edit__menu {
    display: flex;
    flex-direction: column;
    padding: 0px;
  
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  
  
  .quick-edit__text-box:focus {
    outline: none;
  }
  
  .menu-button {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    clear: both;
    color: #e6e6e6;
    display: block;
    float: left;
    margin: 0 0 4px 8px;
    padding: 6px 12px 6px 8px;
    text-decoration: none;
    -webkit-transition: -webkit-transform 85ms ease-in;
    transition: -webkit-transform 85ms ease-in;
    transition: transform 85ms ease-in;
    transition: transform 85ms ease-in, -webkit-transform 85ms ease-in;
  }
  
  .menu-button:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }

  .fa-tag, .fa-user, .fa-arrow-right, .fa-copy, .fa-calendar-alt, .fa-archive{
    margin-right: 5px;
    font-size: 13px;
  }



/* Done styling Quick Edit component */

/*  CardPreview Component Styles */
.card-preview {
    background-color: #ffffff;
    margin-bottom: 6px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
}
  
.card-preview:hover {
    background-color: #edeff0;
}

.card-preview__text {
    flex-grow: 1;
    margin: 8px;
}

.quick-edit-popout:hover {
    background-color: #e3e4e6;
    margin: -5px 0;
    border-radius: 3px;
}
  
.quick-edit-popout:hover .fas.fa-pencil-alt {
    color: #4d4d4d;
}
.fas.fa-pencil-alt {
    color: #999999;
    font-size: 11px;
    visibility: hidden;
}
  
.card-preview:hover .fas.fa-pencil-alt {
    visibility: visible;
}

.quick-edit-popout {
    color: #E0E0DF;
    background-color: transparent;
    border: none;
}

/*  Done styling CardPreview Component Styles */
