/* All styles for Trello Clone live here */

/* Index:
    1. Card Styles
    2. List Styles
    3. Navbar Top Styles
    4. Navbar Bottom Styles
*/


/* Card styles */
.BackgroundBox {
    position: relative;
    padding: 40px 350px 80px 350px;
}

.BackgroundBox::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: .40;
    content: "";
    z-index: -1;
}

.OuterCardBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgray;
    padding: 0px 20px;
    width: 98%;

  }

.OuterCardBox i {
    font-size: 30px;

}

.TitleOuter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 0px 20px 0px;
    width: 100%
}

.TitleBox {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 20px 0px 8px 0px;
}

.CardList {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.MainContent {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    margin: 0px 0px 20px 0px;

}

.MainInfo {
    display: flex;
    flex-direction: column;
    margin: 0px 50px 30px 10px;
    width: 80%;
}

.TitleBox .fa-trello {
    margin-right: 20px;
    font-size: 30px;
}

.CardTitle {
    margin-top: 20px;
    font-size: 20px;
}

.CardList {
    color: #0099CC;
    margin-left: 30px;
}

.CardDescription {
    display:none;
}

.Editable textarea {
    margin-top: 5px;
    width: 100%;
    height: 60px;
}

.DescriptionButtons {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.FormattingHelp {
   padding-left: 55%;
}

.AddLabel {
    display: flex;
    flex-direction: row;
}

.fa-comment {
     margin-top: 15px;
     font-size: 20px;
 }

.fa-at {
    margin-top: 15px;
    font-size: 20px;
}

.fa-smile {
    margin-top: 15px;
    font-size: 20px;
}

.fa-trello {
     margin-top: 15px;
     font-size: 20px;
 }


.fa-user-circle {
    margin-top: 15px;
    margin-right: 10px;
    font-size: 30px;
    color: red;
}

.fa-plus-square {
    margin-top: 20px;
    font-size: 20px;
}


.fa-trello {
    margin-top: 15px;
    font-size: 20px;
}

.fa-github {
    margin-top: 10px;
    margin-right: 5px;
    font-size: 20px;
}

.fa-clock{
    margin-right: 5px;
    font-size: 20px;
}

.fa-paperclip{
    margin-right: 5px;
    font-size: 20px;
}

.fa-user{
    margin-right: 5px;
    font-size: 20px;
}

.fa-tag{
    margin-right: 5px;
    font-size: 20px;
}

.fa-check-square{
    margin-right: 5px;
    font-size: 20px;
}

.fa-arrow-right {
    margin-right: 5px;
    font-size: 20px;
}

.fa-copy{
    margin-right: 5px;
    font-size: 20px;
}

.fa-eye{
    margin-right: 5px;
    font-size: 20px;
}

.fa-archive{
    margin-right: 5px;
    font-size: 20px;
}

.ShareandMore {
    margin-top: 20px;
}


.AddLabel h3{
    margin-left: 10px;
}

.CommentBox textarea {
      width: 100%;
      height: 100px;
  }

.CommentBox button {
    background-color: #358020;
}

.CommentButtons{
    text-align: right;
}

.CardMemberList {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 0px;
}

.CardMemberList div{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 10px;
}

.UserActivity a{
    margin-right: 10px;
}

.CardDescription {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.ActivityBox {
    margin-top: 20px;
}

.ActivityLabel {
    display: flex;
    flex-direction: row;
}

.ActivityLabel a {
    margin-top: 10px;
    margin-left: 65%;
}

.fa-list-alt {
    margin-right: 10px;
    margin-top: 10px;
    font-size: 30px;
}

.Activities {
    display: flex;
    flex-direction: row;
}

.Editable {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.InnerButtonBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0px 0px 0px 0px;
        width: 20%;
  }

.InnerButtonBox button {
    display: flex;
    flex-direction: row;
     background-color: #acb3b7;
     padding: 10px 10px 10px 10px;
     margin: 3px;
 }

.InnerButtonBox button i{
    margin-right: 15px;
}

.AddBox {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
}

.PowerUpBox {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
}

.ActionBox {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
}