/* All styles for Trello Clone live here */

/* Index:
    1. General Styles - line 14
    2. Board Component Styles - line 66
    3. Card Component Styles - line 111
    4. List Component Styles - line 427
    5. ListMenu Styles - line 596
    6. NavbarTop Component Styles - line 702
    7. NavbarBottom Component Styles - line 769
    8. Quick Edit Menu Styles - line 788
*/

/* General Styles */

.App {
    height: 100vh;
}

li {
    list-style: none;
}

body {
    
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
    width: 100vw;
    color: #333;
}

#root {
    width: 100vw;
    margin: 0;
    padding: 0;
}

.danger-button {
    background-color: #eb5a46;
    color: #fff;
    font-weight: 700;
    border-radius: 3px;
    border-style: none;
    padding: 5px 16px;
    display: block;
    width: 260px;
    margin: 8px 0;
    line-height: 22px;
    cursor: pointer;
}

.confirm-button {
    background-color: #5aac44;
    box-shadow: 0 1px 0 #519839;
    color: #fff;
    padding: 5px 30px;
    border-style: none;
    cursor: pointer;
    line-height: 22px;
    border-radius: 3px;
    font-weight: 700;
    margin: 8px 0;
}

.danger-button:hover {
    background-color: #b04632;
}

/* Board Component Styles */

.board__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  .board__list-container {
    display: flex;
    align-items: flex-start;
  }
  
  .App {
    display: flex;
    flex-direction: column;
  }
  
  .board__button-addList {
    display: block;
    border:none; 
    border-radius: 3px;
    padding: 10px;
    color: hsla(0,0%,100%,.7);
    transition: color 85ms ease-in;
    background: rgba(0,0,0,.12);
    font-size: 14px;
    line-height: 20px;
    width: 270px;
    margin: 10px 5px;
    text-align:left;
  }
  
  .board__button-addList:hover {
    background: rgba(0,0,0,.35);
  }
  
  .board__add-list-full {
    width: 270px;
    margin:10px 5px;
  }
  
  /*DONE styling Board Component */


/* Card Component Styles */
.BackgroundBox {
    position: relative;
    padding: 40px 350px 80px 350px;
}

.BackgroundBox::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: .40;
    content: "";
    z-index: -1;
}

.OuterCardBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgray;
    padding: 0px 20px;
    width: 98%;

  }

.OuterCardBox i {
    font-size: 30px;

}

.TitleOuter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 0px 20px 0px;
    width: 100%
}

.TitleBox {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 20px 0px 8px 0px;
}

.CardList {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.MainContent {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    margin: 0px 0px 20px 0px;

}

.MainInfo {
    display: flex;
    flex-direction: column;
    margin: 0px 50px 30px 10px;
    width: 80%;
}

.TitleBox .fa-trello {
    margin-right: 20px;
    font-size: 30px;
}

.CardTitle {
    margin-top: 20px;
    font-size: 20px;
}

.CardList {
    color: #0099CC;
    margin-left: 30px;
}

.CardDescription {
    display:none;
}

.Editable textarea {
    margin-top: 5px;
    width: 100%;
    height: 60px;
}

.DescriptionButtons {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.FormattingHelp {
   padding-left: 55%;
}

.AddLabel {
    display: flex;
    flex-direction: row;
}

.fa-comment {
     margin-top: 15px;
     font-size: 20px;
 }

.fa-at {
    margin-top: 15px;
    font-size: 20px;
}

.fa-smile {
    margin-top: 15px;
    font-size: 20px;
}

.fa-trello {
     margin-top: 15px;
     font-size: 20px;
 }


.fa-user-circle {
    margin-top: 15px;
    margin-right: 10px;
    font-size: 30px;
    color: red;
}

.fa-plus-square {
    margin-top: 20px;
    font-size: 20px;
}


.fa-trello {
    margin-top: 15px;
    font-size: 20px;
}

.fa-github {
    margin-top: 10px;
    margin-right: 5px;
    font-size: 20px;
}

.fa-clock{
    margin-right: 5px;
    font-size: 20px;
}

.fa-paperclip{
    margin-right: 5px;
    font-size: 20px;
}

.AddBox .fa-user{
    margin-right: 5px;
    font-size: 20px;
}

.fa-tag{
    margin-right: 5px;
    font-size: 20px;
}

.fa-check-square{
    margin-right: 5px;
    font-size: 20px;
}

.fa-arrow-right {
    margin-right: 5px;
    font-size: 20px;
}

.fa-copy{
    margin-right: 5px;
    font-size: 20px;
}

.fa-eye{
    margin-right: 5px;
    font-size: 20px;
}

.fa-archive{
    margin-right: 5px;
    font-size: 20px;
}

.ShareandMore {
    margin-top: 20px;
}


.AddLabel h3{
    margin-left: 10px;
}

.CommentBox textarea {
      width: 100%;
      height: 100px;
  }

.CommentBox button {
    background-color: #358020;
}

.CommentButtons{
    text-align: right;
}

.CardMemberList {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 0px;
}

.CardMemberList div{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 10px;
}

.UserActivity a{
    margin-right: 10px;
}

.CardDescription {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.ActivityBox {
    margin-top: 20px;
}

.ActivityLabel {
    display: flex;
    flex-direction: row;
}

.ActivityLabel a {
    margin-top: 10px;
    margin-left: 65%;
}

.fa-list-alt {
    margin-right: 10px;
    margin-top: 10px;
    font-size: 30px;
}

.Activities {
    display: flex;
    flex-direction: row;
}

.Editable {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.InnerButtonBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0px 0px 0px 0px;
        width: 20%;
  }

.InnerButtonBox button {
    display: flex;
    flex-direction: row;
     background-color: #acb3b7;
     padding: 10px 10px 10px 10px;
     margin: 3px;
 }

.InnerButtonBox button i{
    margin-right: 15px;
}

.AddBox {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
}

.PowerUpBox {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
}

.ActionBox {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
}
/*DONE styling Card Component*/

/*List Component Styles*/
.cards {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.card-preview li {
    list-style: none;
}

.btn--add, .btn--cancel, .list__add-cards-short {
    border: none;
    box-shadow: 0 1px 0 #959da1;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    line-height: 22px;
    margin: 0px 4px 0 0;
    padding: 5px 16px;
    text-align: center;
}

button:focus {
    outline:none;
}

.form-card-description {
    border: none;
    overflow: auto;
    outline: none;
    box-shadow: none;
    resize: none;
    color: #333;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    padding: 6px 6px 2px 8px

}

.list__container {
    margin: 10px;
    width: 270px;
    background-color: #E3E4E6;
    border-radius: 3px;
    padding: 8px;
}

.list__header {
    position: relative;
}

.openListMenu {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 18px;
    cursor: pointer;
}

.list__header-title {
    margin-bottom: 8px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.list__add-cards-short {
    box-shadow: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    font-size: 14px;
    font-weight: 400;
    color: #838c91;

    background: transparent;
}

.list__add-cards-short:active {
    outline: none;
}

.card-preview {
    background-color: #FFFFFF;
    padding: 8px;
    margin-bottom: 6px;
    border-radius: 3px;
}

.form-btn-container {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.btn--add {
    background-color: #59ac44;
    color: #FFFFFF;
    border-radius: 3px;
    font-size: 16px;
}

.btn--cancel {
    padding: 0;
    height: 25px;
    box-shadow: none;
    background-color: transparent;
}


.list-title__edit {
    background-color: transparent;
    border-style: none;
    color: #333;
    font-size:16px;
    line-height: 18px;
    font-weight: 700;
    padding: 8px 34px 8px 2px;
}

.list-title__edit--input {
    background-color: transparent;
    border-style: none;
    color: #333;
    font-size:16px;
    line-height: 18px;
    font-weight: 700;
    padding: 8px 34px 8px 2px;
    background-color: #FFFFFF;
    border: #0099CC solid 2px;
    border-radius: 3px;
}

input:focus {
    outline: none;
}


.cancel {
    height:25px;
    margin: 2px 0px 0px 8px
}

.expandMenu {
    color: #999;
    cursor: pointer;
    font-size: 12px;
    border-style: none;
    height: 24px;
    width: 24px;
    text-align: center;
    padding: 0;
    background: #e2e4e6;
    border-radius: 3px;
}

.expandMenu:hover {
    background: rgb(205,210,212);
    color: #111;
}
/* DONE styling List Component*/


/* ListMenu Component Styles */
.list-menu {
  z-index: 1;
  width: 280px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 3px;
  position: absolute;
  top: 30px;
  left: 245px;
  border: 1px solid #d6dadc;
}

.follow, .sort, .archive-cards {
  border-bottom: 1px solid #d6dadc;
}

.list-menu li {
  width: 280px;
  list-style: none;
  padding: 6px 10px;
  margin: 0;
  color: #444;
  text-decoration: none;
  cursor: pointer;
}

.list-menu-title {
  margin: 0 10px;
  color: #838c91;
  border-bottom: 1px solid #d6dadc;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  right: 0;
  top: 0; 
  cursor: pointer;
}

.back {
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}

.back:hover {
  color: #4d4d4d;
}
.close img {
    width: 15px;
}
.list-menu-options {
  font-weight: 700;
}

.list-menu-text {
  padding: 0 10px;
}

.list-menu-buttons {
    padding: 10px;
    overflow: hidden;
}

.list-menu-buttons .moveBtn {
    text-align: left;
    box-sizing: border-box;
    display: block;
    margin-bottom: 10px;
    padding: 20px 7px;
    height: 50px;
    background-color: #e2e4e6;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 3px;
    position: relative;
    font-size: 1.2em;
    font-weight: 700;
}

.moveBtn .btnLabel {
    position: absolute;
    top: 7px;
    left: 7px;
    color: #838C91;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    display: block;
}

.list-menu li:hover {
  background-color: #298fca;
  color: #fff;
}

.list-menu ul {
  padding: 5px;
}
/* DONE styling ListMenu COmponent */

/* NavbarTop Component Styles*/

@import url('https://fonts.googleapis.com/css?family=Lobster');

.navbar {
    height: 32px;
    padding: 5px 8px;
    background-color: rgba(0, 0, 0, .15);
    margin-top: 0;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.nav-list li {
    display: inline-block;
}

.brand {
    position: absolute;
    right: 0;
    left: 0;
    top: -3px;
    bottom: 0;
    font-size: 1.6em;
    font-family: 'Lobster', cursive;
    color: rgba(224, 224, 223, 0.7);
    height:50px;
}

.search {
    position: relative;
}

.search .fa-search {
    position: absolute;
    right: 10px;
    top: 3px;
    color: #E0E0DF;
}

.boards {
    font-weight: 700;
}

.boards i {
    font-size: 12px;
    margin: 2px 5px 2px 2px;
    font-weight: 400;
}

.navbar button, .navbar input {
    border-radius: 5px;
    margin-left: 10px;
    padding: 7px;
    background-color: hsla(0, 0%, 100%, .3);
    color: #E0E0DF;
    border-style: none;
}
.leftbar {
    float: left;
}

.rightbar {
    float: right;
}
/*DONE styling NavbarTop Component */


/* NavbarBottom Component Styles */

.nav-two li button {
    color: #E0E0DF;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 3px;
    
}

.nav-two li button:hover {
    background-color: rgba(0,0,0,.3);
}

.nav-two {
    margin: 5px 15px 30px 0;
    padding-left: 25px;
    position: relative;
}

.nav-two li button {
    font-size: 1em;
}

/* DONE NavbarBottom Component Styles */

/* styling Quick Edit Menu */

.quick-edit__screen {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    color: #fff;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
  }
  
  
  .quick-edit__container {
    display: flex;
    position: absolute;
  }
  
  
  .text-button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 14px;
  }
  
  
  .quick-edit__text-box {
    border: none;
    padding: 6px 6px 2px 8px;
    border-radius: 3px;
    width: 256px;
    height: 112px;
    resize: none;
    margin-bottom: 14px;
  }
  
  
  .quick-edit__menu {
    display: flex;
    flex-direction: column;
    padding: 0px;
  
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  
  
  .quick-edit__text-box:focus {
    outline: none;
  }
  
  .menu-button {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    clear: both;
    color: #e6e6e6;
    display: block;
    float: left;
    margin: 0 0 4px 8px;
    padding: 6px 12px 6px 8px;
    text-decoration: none;
    -webkit-transition: -webkit-transform 85ms ease-in;
    transition: -webkit-transform 85ms ease-in;
    transition: transform 85ms ease-in;
    transition: transform 85ms ease-in, -webkit-transform 85ms ease-in;
  }
  
  .menu-button:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }

/* Done styling Quick Edit component */