@keyframes slide {
    100% { right: 0; }
}

.board-menu {
    background-color: #edeff0;
    color: #333;
    width: 340px;
    box-shadow: 0 0 6px rgba(0,0,0, .4);
    padding: 10px;
    z-index: 5;
    position: absolute;
    right: -340px;
    top: -20px;
    animation: slide 0.5s forwards;
}

.board-menu-title {
    position: relative;
    text-align: center;
    font-weight: 700;
    border-bottom: 2px solid #d6dadc;
    padding: 5px;
}

.board-member {
    background-color: #e2e4e6;
    padding: 3px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    width: 30px;
    border-radius: 100%;
    height: 30px;
    margin: 10px 0;
    display: block;
}
.board-members .invite {
    color: #444;
    border-style: none;
    border-radius: 2px;
    background-color: #e2e4e6;
    display: block;
    width: 100%;
    padding: 10px;
    box-shadow: 0 1px 0 0 #c4c9cc;
    font-weight: 700;
    text-align: left;
    cursor: pointer;
}

.board-members .invite:hover {
    background-color: #cdd2d4;
    color: #4c4c4c;
}

.board-menu i {
    color: #999;
    margin-right: 10px;
}

.board-menu-title h3 {
    margin: 0;
}

.board-members {
    border-bottom: 1px solid #d6dadc;
    padding-bottom: 15px;
}

.board-options {
    border-bottom: 1px solid #d6dadc;
    padding: 10px 0;
}

.current-color {
    width: 18px;
    height: 18px;
    border-radius: 3px;
    background-color: #0079BF;
    display: inline-block;
    margin-right: 5px;
}
.board-activity {
    padding: 10px 0;
}

.board-options li, .board-activity li {
    font-weight: 700;
    padding: 8px;
    cursor: pointer;
    display: block;
}

.board-options li:hover {
    color: #111;
    background-color: #d6dadc;
    border-radius: 3px;
}

.menu-body {
    margin: 10px 5px;
    text-align: center;
}

.menu-body .color-button {
    width: 45%;
    height: 112px;
    border-radius: 10px;
    margin: 5px;
    display: inline-block;
}

.menu-body .blue {
    background-color: #0079BF;
}

.menu-body .orange {
    background-color: #D29034;
}

.menu-body .green {
    background-color: #519839;
}

.menu-body .red {
    background-color: #B04632;
}