.label-menu {
    background-color: #fff;
    width: 300px;
    border: 1px solid #d6dadc;
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
    z-index: 15 !important;
    padding: 8px;
    position: absolute;
    left: 635px;
    bottom: 210px;
    border-radius: 3px;
}

.label-menu-title {
    position: relative;
    text-align: center;
    font-weight: 700;
    border-bottom: 2px solid #d6dadc;
    padding: 5px;
    margin-bottom: 15px;
    color: #999;
}

.label-list {
    text-align: left;
}
.label {
    width: 250px;
    height: 32px;
    margin: 0 0 4px;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
}

.label:hover {
    opacity: .7;
}

.label-edit {
    position: relative;
}

.edit-button {
    cursor: pointer;
    border-style: none;
    background: #fff;
    margin-left: 10px;
    position: absolute;
    top: -3px;
    right: 3px;
    padding: 8px;
    border-radius: 3px;
}

.edit-button i {
    color: #999;
    visibility: visible !important;
    margin-right: 0 !important;
}

.edit-button:hover {
   background-color: #d6dadc;
}

.label-edit-menu {
    background-color: #fff;
    width: 300px;
    font-weight: 700;
    color: #000;
}

.label-button {
    display: inline-block !important;
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 3px;
    border-style: none;
}