.label-menu {
    background-color: #fff;
    width: 300px;
    border: 1px solid #d6dadc;
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
    z-index: 15 !important;
    padding: 8px;
    position: absolute;
    left: 635px;
    bottom: 210px;
    border-radius: 3px;
}

.label-menu-title {
    position: relative;
    text-align: center;
    font-weight: 700;
    border-bottom: 2px solid #d6dadc;
    padding: 5px;
    margin-bottom: 15px;
    color: #999;
}

.label-list {
    text-align: left;
}
.label {
    width: 250px;
    height: 20px;
    margin: 0 0 4px;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 80%;
    padding: 8px;
}

.label:hover {
    opacity: .7;
}

.label-edit {
    position: relative;
}

.edit-button {
    cursor: pointer;
    border-style: none;
    background: #fff !important;
    margin-left: 10px;
    position: absolute;
    top: -3px;
    right: 3px;
    padding: 8px;
    border-radius: 3px;
}

.edit-button i {
    color: #999;
    visibility: visible !important;
    margin-right: 0 !important;
}

.edit-button:hover {
   background-color: #d6dadc !important;
}

.label-edit-menu {
    background-color: #fff;
    width: 300px;
    font-weight: 700;
    color: #000;
    text-align: left;
}

.label-name-field {
    display: block;
    margin: 4px 0 12px;
    width: 90%;
    border: 1px solid #cdd2d4;
    border-radius: 3px;
    padding: 7px;
}

.label-button {
    display: inline-block !important;
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 3px;
    border-style: none;
}

.label-button-area {
    margin: 15px 0;
}

.label-button-area p {
    margin: 5px 0;
}

.label-edit-menu .mini-danger-button {
    background-color: #eb5a46;
    color: #fff;
    font-weight: 700;
    border-radius: 3px;
    border-style: none;
    padding: 5px 16px;
    display: block;
    width: 80px;
    margin: 8px 0;
    line-height: 22px;
    cursor: pointer;
    float: right;
}

.label-edit-menu .mini-confirm-button {
    float: left;
    background-color: #5aac44;
    box-shadow: 0 1px 0 #519839;
    color: #fff;
    width: 80px;
    padding: 5px 25px;
    border-style: none;
    cursor: pointer;
    line-height: 22px;
    border-radius: 3px;
    font-weight: 700;
    margin: 8px 0;
}